<h1>YOUR PIRATES!</h1>
Pirate Name:<%= @pirate.name %><br>
Pirate Height:<%= @pirate.height%><br>
Pirate Weight:<%= @pirate.weight%><br>

<h2>YOUR SHIPS!</h2>
<% @ships.each do |ship| %>
  Ship Name: <%= ship.name %><br>
  Ship Type: <%= ship.type %><br>
  Ship Booty: <%= ship.booty %><br>
<% end %>
